# Go binaries
bin/
dist/

# env
.env

# logs
*.log

# docker
docker-data/

# grafana temp
grafana-storage/

# vscode
.vscode

# node
node_modules

# next
.next

# OS
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.lock.info
*.tfplan
terraform.tfvars
